<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chess</title>
        <link href="../assets/index.css" rel="stylesheet" type="text/css">
        <link href="../assets/common.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <span class="null"></span>
        <div id="main-container">
            <p>Welcome to Live Chess!</p>
            <input type="button" id="random" value="create room" onclick="document.getElementById('createDialog').showModal()">
            <dialog id="createDialog">
                <input type="text" id="code" minlength="4" maxlength="4" placeholder="new room code">
                <input type="button" id="create" value="create"><br>
                <input type="button" value="cancel" onclick="document.getElementById('createDialog').close()">
            </dialog><br><br>
            <input type="button" id="jrb" value="join room" onclick="document.getElementById('jrd').showModal()">
            <dialog id="jrd">
                <input type="text" id="joincode" minlength="4" maxlength="4" placeholder="enter room code">
                <input type="button" id="join" value="join" onclick="window.location.replace(`/${document.getElementById('joincode').value}`)">
                <br>
                <input type="button" id="cancel" value="cancel" onclick="document.getElementById('jrd').close()">
            </dialog>
        </div>
        <span class="null"></span>
    </body>
    <script>
        const button = document.getElementById('create')

        create.addEventListener("click", async () => {
            let code = document.getElementById('code').value
            let r = await fetch('/', {
                method: 'POST',
                headers: {'Content-type': 'application/json'},
                body: JSON.stringify({roomcode: code})
            });
            if (r.status === 200) {
                window.location.pathname = "/"+code
            } else if (r.status == 400) {
                alert("This code is already in use!")
            }
        })
    </script>
</html>