<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chess</title>
        <link href="../assets/index.css" rel="stylesheet" type="text/css">
        <link href="../assets/common.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <span class="null"></span>
        <div id="main-container">
            <p>Welcome to Live Chess!</p>
            <input type="button" id="random" value="create room" onclick="document.getElementById('createDialog').showModal()">
            <dialog id="createDialog">
                <input type="text" id="code" minlength="4" maxlength="4" placeholder="new room code">
                <input type="button" id="create" value="create"><br>
                <input type="button" value="cancel" onclick="document.getElementById('createDialog').close()"><br><br>
                <input type="button" value="random code" onclick="dorand()">
            </dialog><br><br>
            <input type="button" id="jrb" value="join room" onclick="document.getElementById('jrd').showModal()">
            <dialog id="jrd">
                <input type="text" id="joincode" minlength="4" maxlength="4" placeholder="enter room code">
                <input type="button" id="join" value="join" onclick="window.location.replace(`/${document.getElementById('joincode').value}`)">
                <br>
                <input type="button" id="cancel" value="cancel" onclick="document.getElementById('jrd').close()">
            </dialog><br><br>
            <input type="button" value="credits" onclick="document.getElementById('credits').showModal()">
            <dialog id="credits">
                <!-- the image credits -->
				<p>all images used in this project are from <a href="https://commons.wikimedia.org/wiki/Main_Page" target="_blank">Wikimedia</a>, were created by the following user and are under the following copyright: <a href="https://en.wikipedia.org/wiki/User:Cburnett" target="_blank">en:User:Cburnett</a>, <a href="https://creativecommons.org/licenses/by-sa/3.0/" target="_blank">CC BY-SA 3.0</a>,<br>via Wikimedia Commons</p>
                <br><br>
                <p>
                    Front end programming and design was done by Tristan Schartman<br>
                    Back end programming and websocket interfaces were done by Ayush Shrivastava (thank you, you're a life saver)
                </p>
                <input type="button" value="close" onclick="document.getElementById('credits').close()">
            </dialog>
        </div>
        <span class="null"></span>
    </body>
    <script>
        const button = document.getElementById('create')
        const cin = document.getElementById("code");

        create.addEventListener("click", async () => {
            let code = cin.value
            code = code.toUpperCase();
            let r = await fetch('/', {
                method: 'POST',
                headers: {'Content-type': 'application/json'},
                body: JSON.stringify({roomcode: code})
            });
            if (r.status === 200) {
                window.location.pathname = "/"+code
            } else if (r.status == 400) {
                alert("This code is already in use!")
            }
        })
        document.getElementById("joincode").addEventListener("keyup", (e) => {
            if (e.code.toString() === "Enter") {
                document.getElementById("join").click();
            }
        });
        cin.addEventListener("keyup", (e) => {
            if (e.code.toString() === "Enter") {
                button.click();
            }
        });
        function dorand () {
            let code = "";
            for (let i = 0; i < Number(cin.getAttribute("maxlength")); i ++) {
                code += "ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890"[Math.floor(Math.random() * 36)];
            }
            cin.value = code;
            button.click();
            code.value = "";
        }
    </script>
</html>