<!DOCTYPE html>
<html>
    <head>
        <title>Chess</title>
        <link href="../assets/common.css" rel="stylesheet" type="text/css">
        <link href="../assets/pieces/WR.svg" rel="icon">
        <style>
            body {
                display : grid;
            }
            p {
                justify-self : center;
                color : lime;
            }
            input {
                justify-self : center;
            }
        </style>
    </head>
    <body>
        <p>Whoops!</p>
        <p>unfortunately this room is already occupied!</p><br><br>
        <input type="button" value="go back" onclick="goback()">
        <script>
            function goback () {
                window.location.pathname = "/";
            }
        </script>
    </body>
</html>