#board {
    position : absolute;
    left : calc(50vw - 25vmin);
    top : calc(50vh - 25vmin);
    width : 50vmin;
    height : 50vmin;
    /* background : black; */
    color : lime;
}

#board > * {
    position : absolute;
    left : calc(50vmin / 8 * var(--x));
    top : calc(50vmin / 8 * var(--y));
    width : calc(50vmin / 8);
    height : calc(50vmin / 8);
}

#board > .sel {
    background : tan !important;
}

#entry {
    position : absolute;
    left : calc(50vw - 25vmin);
    top : calc(50vh + 25vmin);
    width : 40vmin;
}

#gobtn {
    position : absolute;
    left : calc(50vw + 15vmin);
    top : calc(50vh + 25vmin);
}

#promote::backdrop {
    background : #00000088;
}

#promote {
    background : #222222;
    border : solid gray 1px;
}

.waiting {
    animation : waiting linear 5s infinite;
    position : relative;
    width : 5vmin;
    left : calc(50% - 2.5vmin);
}

@keyframes waiting {
    0% {
        transform : rotate(0deg);
    }
    100% {
        transform : rotate(360deg);
    }
}