body {
    display : grid;
}

input {
    justify-self : center;
}

p {
    justify-self : center;
}

#main-container {
    justify-self : center;
    text-align : center;
}

.null {
    justify-self : center;
    width : 100vw;
    height : calc(100vh / 3);
}

dialog::backdrop {
    background : #00000088;
}

dialog {
    background : #222222;
    border : solid gray 1px;
}

a:link {
    color : #0088ff;
}

a:link:hover {
    color : #00aaff;
}

a:visited {
    color : #8800ff;
}

a:visited:hover {
    color : #aa00ff;
}